<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>RyanAir Helper</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
  table, td, th {
    border: 1px solid black;
    padding: 2px 15px;
    line-height:2;
  }

  table {
    border-collapse: collapse;
  }

  th {
    height: 70px;
  }
</style>
<script>
  function getAirportCheapest() {
    let airport = prompt("Please enter airport to show cheapest fares from:", "KBP");
    if (airport) location.replace("/cheapest/" + airport);
  }
  function getAirportRoutes() {
    let airport = prompt("Please enter airport to show routes from:", "KBP");
    if (airport) location.replace("/routes/" + airport);
  }
  function getAirportsForRoute() {
    let airportDep = prompt("Please enter departure airport:", "KBP");
    let airportArr;
    if (airportDep) airportArr = prompt("Please enter arrival airport:", "ATH");
    if (airportDep && airportArr) location.replace("/fares/" + airportDep + "/" + airportArr);
  }
  function getAirportsForTeleport() {
    let airportDep = prompt("Please enter departure airport:", "KBP");
    let airportArr;
    if (airportDep) airportArr = prompt("Please enter arrival airport:", "TFN");
    if (airportDep && airportArr) location.replace("/teleport/" + airportDep + "/" + airportArr);
  }
  function getDataForTeleportReturn() {
    let airportDep = prompt("Please enter departure airport:", "KBP");
    let airportArr, dateFrom, dateTo, lengthFrom, lengthTo;
    if (airportDep) airportArr = prompt("Please enter arrival airport:", "TFN");
    if (airportArr) dateFrom = prompt("Enter dateFrom in format YYYY-MM-DD", "2021-09-01");
    if (dateFrom) dateTo = prompt("Enter dateTo in format YYYY-MM-DD", "2021-09-30");
    if (dateTo) lengthFrom = prompt("Enter minimum length of stay in days", "2");
    if (lengthFrom) lengthTo = prompt("Enter maximum length of stay in days", "4");
    if (lengthTo) location.replace("/teleport/" + airportDep + "/" + airportArr + "/" + dateFrom + "/" + dateTo + "/" + lengthFrom + "," + lengthTo);
  }

</script>
<body>
<h3>RyanAir Helper</h3>
<table>
  <tr>
    <td>Cheapest fares from selected airport</td>
    <td><input type="button" onclick="getAirportCheapest()" value="Click"></td>
  </tr>
  <tr>
    <td>Show all routes available from selected airport</td>
    <td><input type="button" onclick="getAirportRoutes()" value="Click"></td>
  </tr>
  <tr>
    <td>Show all fares for route</td>
    <td><input type="button" onclick="getAirportsForRoute()" value="Click"></td>
  </tr>
  <tr>
    <td>Teleport</td>
    <td><input type="button" onclick="getAirportsForTeleport()" value="Click"></td>
  </tr>
  <tr>
    <td>Teleport Return</td>
    <td><input type="button" onclick="getDataForTeleportReturn()" value="Click"></td>
  </tr>

</table>

</body>
</html>