<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
  table, td, th {
    border: 1px solid black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
</style>
<body>
<a th:href="@{/}">Return to main page</a>
<h3>Cheapest routes from <a th:text="${fareList.get(0).getDepartureAirport().name}"></a></h3>
<table>
  <tr>
    <th>Price</th>
    <th>Destination</th>
    <th>Date</th>
  </tr>
  <tr th:each="fare : ${fareList}">
    <td th:text="${fare.getFlightPriceString()}"></td>
    <td th:text="${fare.getArrivalAirportString()}"></td>
    <td> <a th:text="${fare.getSimpleDateString()}"></a>
<!--      <a href="/fares/'/'${fare.getArrivalAirport().iataCode}"></a>-->
      <a th:href="@{/fares/{dep}/{arr}(dep=${fare.getDepartureAirport().iataCode}, arr=${fare.getArrivalAirport().iataCode})}">Show all</a>
<!--   <input type='button' class="btn-show-all" name='btn-show' value='Show all' th:onclick="|window.location.href='/fares/'${fare.getDepartureAirport().iataCode}'/'${fare.getArrivalAirport().iataCode}|" />-->
    </td>
  </tr>
</table>
</body>
</html>